apiVersion: v1
kind: Namespace
metadata:
  name: minio-dev
---
# 1. Secrets for Login xxx
apiVersion: v1
kind: Secret
metadata:
  name: minio-creds
  namespace: minio-dev
type: Opaque
stringData:
  rootUser: minioadmin      # CHANGE THIS
  rootPassword: minioadmin  # CHANGE THIS
#---
## 2. Storage (PVC)
#apiVersion: v1
#kind: PersistentVolumeClaim
#metadata:
#  name: minio-pvc
#  namespace: minio-dev
#spec:
#  accessModes:
#    - ReadWriteOnce
#  resources:
#    requests:
#      storage: 10Gi
---
# 3. Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
  namespace: minio-dev
  labels:
    app: minio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minio
  template:
    metadata:
      labels:
        app: minio
    spec:
      containers:
      - name: minio
        image: quay.io/minio/minio:latest
        command:
        - /bin/sh
        - -c
        - minio server /data --console-address :9001
        env:
        - name: MINIO_ROOT_USER
          valueFrom:
            secretKeyRef:
              name: minio-creds
              key: rootUser
        - name: MINIO_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: minio-creds
              key: rootPassword
        ports:
        - containerPort: 9000 # API Port
        - containerPort: 9001 # Console UI Port
#        volumeMounts:
#        - name: data
#          mountPath: /data
#      volumes:
#      - name: data
#        persistentVolumeClaim:
#          claimName: minio-pvc
---
# 4. Service
apiVersion: v1
kind: Service
metadata:
  name: minio-service
  namespace: minio-dev
spec:
  selector:
    app: minio
  ports:
    - name: api
      port: 9000
      targetPort: 9000
    - name: console
      port: 9001
      targetPort: 9001
  type: ClusterIP # Change to LoadBalancer if on Cloud/MetalLB
