apiVersion: ray.io/v1alpha1
kind: RayCluster
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
    # An unique identifier for the head node and workers of this cluster.
  name: raycluster-mini
spec:
  rayVersion: '$ray_version' # should match the Ray version in the image of the containers
  ######################headGroupSpecs#################################
  # Ray head template
  headGroupSpec:
    # Kubernetes Service Type, valid values are 'ClusterIP', 'NodePort' and 'LoadBalancer'
    serviceType: ClusterIP
    # the pod replicas in this group typed head (assuming there could be more than 1 in the future)
    replicas: 1
    # the following params are used to complete the ray start: ray start --head --block --dashboard-host: '0.0.0.0' ...
    rayStartParams:
      dashboard-host: '0.0.0.0'
      block: 'true'
    #pod template
    template:
      spec:
        containers:
        - name: ray-head
          image: rayproject/ray:2.1.0
          env:
          - name: MY_POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
          resources:
            limits:
              cpu: 1
              memory: "1G"
            requests:
              cpu: 1
              memory: "1G"
  workerGroupSpecs:
    - replicas: 1
      minReplicas: 1
      maxReplicas: 1
      groupName: small-group
      # the following params are used to complete the ray start: ray start --block --node-ip-address= ...
      rayStartParams:
        block: 'true'
      #pod template
      template:
        metadata:
          labels:
            rayCluster: raycluster-compatibility-test
            groupName: small-group # will be injected if missing
          # annotations for pod
          annotations:
            key: value
        spec:
          initContainers: # to avoid worker crashing before head service is created
          - name: init-myservice
            image: busybox:1.28
            # Change the cluster postfix if you don't have a default setting
            command: ['sh', '-c', "until nslookup $$RAY_IP.$$(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace).svc.cluster.local; do echo waiting for myservice; sleep 2; done"]
          containers:
          - name: ray-worker
            image: rayproject/ray:2.1.0
            # environment variables to set in the container.Optional.
            # Refer to https://kubernetes.io/docs/tasks/inject-data-application/define-environment-variable-container/
            # Refer to https://kubernetes.io/docs/concepts/storage/volumes/
            volumeMounts:
              - mountPath: /var/log
                name: log-volume
          # use volumes
          # Refer to https://kubernetes.io/docs/concepts/storage/volumes/
          volumes:
            - name: log-volume
              emptyDir: {}
