apiVersion: ray.io/v1
kind: RayCluster
metadata:
  name: raycluster-sidecar
spec:
  rayVersion: '$ray_version'
  ######################headGroupSpecs#################################
  headGroupSpec:
    rayStartParams: {}
    # pod template
    template:
      spec:
        containers:
        - name: ray-head
          image: $ray_image
          ports:
          - containerPort: 6379
            name: redis
          - containerPort: 8265 # Ray dashboard
            name: dashboard
          - containerPort: 10001
            name: client
        - name: nginx
          image: nginx:1.19.6
          ports:
          - containerPort: 80
            name: nginx
        restartPolicy: Never
