resources:
- manifests.yaml
- service.yaml

namePrefix: kuberay-

configurations:
- kustomizeconfig.yaml

patches:
- patch: |-
    - op: replace
      path: /webhooks/0/clientConfig/service/namespace
      value: ray-system
  target:
    kind: ValidatingWebhookConfiguration
    name: validating-webhook-configuration
    version: v1
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
