apiVersion: ray.io/v1
kind: RayCluster
metadata:
  name: ray-cluster-with-auth
spec:
  rayVersion: '2.55.0'
  authOptions:
    mode: 'token'
    enableK8sTokenAuth: true
  headGroupSpec:
    rayStartParams: {}
    template:
      spec:
        serviceAccountName: raylet
        containers:
        - name: ray-head
          imagePullPolicy: Always
          image: rayproject/ray:nightly
          resources:
            limits:
              cpu: "4"
              memory: "8Gi"
            requests:
              cpu: "4"
              memory: "8Gi"
          ports:
          - containerPort: 6379
            name: gcs-server
          - containerPort: 8265
            name: dashboard
          - containerPort: 10001
            name: client
  workerGroupSpecs:
  - replicas: 1
    minReplicas: 1
    maxReplicas: 5
    groupName: workergroup
    rayStartParams: {}
    template:
      spec:
        serviceAccountName: raylet
        containers:
        - name: ray-worker
          imagePullPolicy: Always
          image: rayproject/ray:nightly
          resources:
            limits:
              cpu: "4"
              memory: "8Gi"
            requests:
              cpu: "4"
              memory: "8Gi"
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: ray-user
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: raylet
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: ray-authenticator
rules:
- apiGroups: ["authentication.k8s.io"]
  resources:
  - 'tokenreviews'
  verbs: ["create"]
- apiGroups: ["authorization.k8s.io"]
  resources:
  - 'subjectaccessreviews'
  verbs: ["create"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: ray-writer
rules:
- apiGroups: ["ray.io"]
  resources:
  - 'rayclusters'
  verbs: ["ray:write"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: ray-authenticator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: ray-authenticator
subjects:
- kind: ServiceAccount
  name: raylet
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: raylet
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: ray-writer
subjects:
- kind: ServiceAccount
  name: raylet
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: ray-user
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: ray-writer
subjects:
- kind: ServiceAccount
  name: ray-user
