apiVersion: ray.io/v1
kind: RayCluster
metadata:
  name: raycluster-resource-isolation
spec:
  rayVersion: '2.52.0'
  headGroupSpec:
    rayStartParams:
      enable-resource-isolation: "true" # Set --enable-resource-isolation flag in `ray start`
    template:
      metadata:
        annotations:
          node.gke.io/enable-writable-cgroups.ray-head: "true"
      spec:
        containers:
        - name: ray-head
          image: rayproject/ray:2.52.0
          resources:
            limits:
              cpu: 2
              memory: 8G
            requests:
              cpu: 2
              memory: 8G
          ports:
          - containerPort: 6379
            name: gcs-server
          - containerPort: 8265
            name: dashboard
          - containerPort: 10001
            name: client
        nodeSelector:
          node.gke.io/enable-writable-cgroups: "true"
  workerGroupSpecs:
  - replicas: 1
    minReplicas: 1
    maxReplicas: 5
    groupName: workergroup
    rayStartParams:
      enable-resource-isolation: "true" # Set --enable-resource-isolation flag in `ray start`
    template:
      metadata:
        annotations:
          node.gke.io/enable-writable-cgroups.ray-worker: "true"
      spec:
        containers:
        - name: ray-worker
          image: rayproject/ray:2.52.0
          resources:
            limits:
              cpu: 2
              memory: 8G
            requests:
              cpu: 2
              memory: 8G
        nodeSelector:
          node.gke.io/enable-writable-cgroups: "true"
